<!DOCTYPE html>
<html>
<head>
  <title>AJAX Example</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

  <script src="static\js\AJAX_form.js"></script>

</head>
<body>

  <!-- <form action = "{{ url_for('new') }}" method = "post" enctype="multipart/form-data"> -->

      <!-- to display messages -->
     

      <input type="hidden" id="hide" value = "{{ resArr.id }}"><br>
   
      <label for="name">Name</label><br>
      <input type="text" id="name" value =  "{{ resArr.name }}"><br>
   
      <label for="city"> City</label><br>
      <input type="text" id="city" value =  "{{ resArr.city }}"><br>
    
      <label for="addr"> Addr</label><br>
      <textarea name = "addr" id = "addr">{{ resArr.addr }}</textarea><br>
    
      <label for="pin"> Pin</label><br>
      <input type="text" id="pin" value="{{ resArr.pin }}"><br><br>
    
      <!-- <label for="img_name">Upload Image</label><br> -->
      <!-- <input type="file" id="img_name"><br><br> -->
    
    <button type="submit" id = "submit_btn">Submit</button>
    <br><br>
    <div id = "link">...</div>  
    <div id="data_msg"></div>
    <!-- <div id="img_msg">img</div> -->
    <div id="error_msg"></div><br><br>

    <!-- <ul id = "list"></ul> -->
    <table>
         <thead>
            <tr>
               
               <th>Name</th>
               <th>City</th> 
               <th>Address</th>
               <th>Pin</th>
               <!-- <th>Edit</th> -->
               <th>Delete</th> 
               <!--<th>Upload</th>-->
               <th>Profile Pic</th>     
            </tr>
         </thead>
         
         <tbody id = "table_row">
               
         </tbody>
    </table>

      
  
 <!--  </form> -->
  <br>

</body>
</html>