<!DOCTYPE html>
<html>
   <body>
   
      <h3>Students - Flask SQLAlchemy example</h3>
      <hr/>
      
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      
      <form action = "{{ url_for('change') }}" method = "post" enctype="multipart/form-data">
         
         <input type = "hidden" name = "id" value = "{{ resArr.id }}" />
         <label for = "name">Name</label><br/>
         <input type = "text" name = "name" value = "{{resArr.name}}" /><br/>
         <label for = "city">City</label><br/>
         <input type = "text" name = "city" value = "{{resArr.city}}" placeholder = "" /><br/>
         <label for = "addr">Addr</label><br/>
         <textarea name = "addr" value = "{{resArr.addr}}" placeholder = "">{{resArr.addr}}</textarea><br>
         <label for = "pin">Pin</label><br/>
         <input type = "text" name = "pin" value = "{{resArr.pin}}" placeholder = ""/><br>
         <label for = "img"> Upload New Image</label><br>
         <input type = "hidden" name = "img_" value = "{{ resArr.img_path }}" />
         <input type = "file" name = "img" ><br><br>
         <input type = "submit" value = "Submit" />
         
      </form>
      <br>
      <a href = "{{ url_for('show_all')  }}"> Home </a> 
      
   </body>
</html>